<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 mode="push"
                 [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="drawer.toggle()">Home</a>
            <a mat-list-item routerLink="about" (click)="drawer.toggle()">About Me</a>
            <a mat-list-item routerLink="career" (click)="drawer.toggle()">Career Experience</a>
            <a mat-list-item routerLink="projects" (click)="drawer.toggle()">Projects</a>
            <a mat-list-item routerLink="sample-auth" (click)="drawer.toggle()">Sample Auth</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="toolbar-title">Quin Carter - Software Engineer</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="content" [ngClass]="routeAnimationsElements" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
