<mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile [colspan]="profileColspan" [rowspan]="profileRowspan">
        <mat-card class="dashboard-card">
            <img class="avatar" alt="avatar" src="../../../assets/icons/icon-512x512.png">
            <mat-card-header class="profileHeader">
                <mat-card-title class="profileHeaderText">
                    {{  profile.name }}
                    <mat-card-subtitle>
                        {{ profile.title }}
                    </mat-card-subtitle>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <h3 class="contact-info-title">Contact Information</h3>
                <mat-card-actions>
                    <div>
                        <a [href]="'tel:' + profile.contact.phone_just_numbers"
                           ngxClipboard
                           (cbOnSuccess)="copied($event)"
                           [cbContent]="profile.contact.phone"
                           mat-button [disableRipple]="true"
                           mat-ripple [matRippleRadius]="40">
                            <mat-icon mat-button>phone</mat-icon>
                            <span class="margin-left-1">
                                Call Me!
                            </span>
                        </a>
                        <a class="circle-button" [href]="'mailto:' + profile.contact.email"
                           mat-button
                           title="Email">
                            <mat-icon mat-button>email</mat-icon>
                            <span class="margin-left-1">Email Me!</span>
                        </a>
                    </div>
                    <div class="margin-top-1">
                        <a mat-button
                           [href]="profile.contact.linkedin"
                           rel="noopener"
                           target="_blank"
                           title="LinkedIn">
                            <mat-icon><img src="../../../assets/img/linkedin.png"></mat-icon>
                        </a>
                        <a mat-button
                           [href]="profile.contact.gitlab"
                           target="_blank"
                           rel="noopener"
                           title="GitLab">
                            <mat-icon><img class="size26" src="../../../assets/img/gitlab.png"></mat-icon>
                        </a>
                        <a mat-button
                           [href]="profile.contact.github"
                           target="_blank"
                           rel="noopener"
                           title="Github">
                            <mat-icon><img class="size26" src="../../../assets/img/github.svg"></mat-icon>
                        </a>
                    </div>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

