.dashboard-card {
    position: absolute;
    top: 35px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    max-width: 25rem;
    margin: auto;
}

.size26 {
    width: 26px;
    height: 26px;
}

.margin-left-1 {
    margin-left: 1rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.contact-info-title {
    margin-bottom: 0;
}

.dashboard-card-content {
    text-align: center;
    position: relative;
    top: -3rem;
}

.avatar {
    display: grid;
    align-self: center;
    justify-self: center;
    margin: auto;
    border-radius: 50%;
    max-width: 8rem;
    position: relative;
    top: -3rem;
}

mat-card-title {
    text-align: center;
}
