<div class="grid-container" *ngFor="let item of dashboard$ | async">
    <ng-container *ngIf="item.profile">
        <qc-profile-card
            [ngClass]="routeAnimationsElements"
            [profile]="item.profile"
            [profileColspan]="profileCard.cols"
            [profileRowspan]="profileCard.rows">
        </qc-profile-card>
    </ng-container>
    <ng-container *ngIf="item.skills">
        <qc-skills
            [ngClass]="routeAnimationsElements"
            [skills]="item.skills"
            [skillsColspan]="skillsCard.cols"
            [skillsRowspan]="skillsCard.rows">
        </qc-skills>
    </ng-container>
    <ng-container *ngIf="item.experience">
        <h1 class="h1-center">Experience</h1>
        <qc-experience
            [ngClass]="routeAnimationsElements">
        </qc-experience>
    </ng-container>
</div>
