.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: grid !important;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.contact-info-title {
    margin-bottom: 0;
}

.dashboard-card-content {
    text-align: center;
}

.skillCard {

}

.skillImage {
    max-width: 9rem;
}

.frameworksTitle {
    margin: auto !important;
}

.avatar {
    display: grid;
    align-self: center;
    justify-self: center;
    margin: auto;
    border-radius: 50%;
    max-width: 8rem;
    position: relative;
    top: -3rem;
}

mat-card-title {
    text-align: center;
}

.h1-center {
    position: relative;
    text-align: center;
}
