<h1 class="h1-center">Languages</h1>
<mat-grid-list [cols]="numCols | async" rowHeight="11rem">
    <mat-grid-tile *ngFor="let skill of skills.languages" colspan="1" rowspan="1">
        <img class="skillImage"
             [src]="assetPath + skill.image_name"
             [alt]="skill.name">
    </mat-grid-tile>
</mat-grid-list>

<h1 class="h1-center">Frameworks</h1>
<mat-grid-list [cols]="numColsFrameworks | async" rowHeight="11rem">
    <mat-grid-tile *ngFor="let framework of skills.frameworks" colspan="1" rowspan="1">
        <img class="skillImage"
             [src]="assetPath + framework.image_name"
             [alt]="framework.name">
    </mat-grid-tile>
</mat-grid-list>

