table {
    width: 100vw;
    max-width: 93vw;
}

.project-table {
    margin: 1rem;
}

.margin-top {
    margin-top: .5rem
}

.margin-right {
    margin-right: 1rem;
}

tr.example-detail-row {
    height: 0;
}

tr.project-row:not(.project-expanded-row):hover {
    background: #f5f5f5;
}

tr.project-row:not(.project-expanded-row):active {
    background: #efefef;
}

.project-row td {
    border-bottom-width: 0;
}

.project-detail {
    overflow: hidden;
    display: flex;
}

.project-diagram {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    font-weight: lighter;
    padding: .5rem;
    margin-bottom: 1rem;
}

.project-avatar {
    width: 80px;
    height: 80px;
}

.project-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.project-description {
    padding: 16px;
}

.project-description-attribution {
    opacity: 0.5;
}

.project-header-card {
    margin: auto;
    width: 70%;
}
