<button mat-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    Back
</button>
<mat-card class="project-header-card">
    <mat-card-header>
        <mat-card-title>
            Projects
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        This is most of the coding projects that I have made public from my Git repositories. If you would like to see
        more or have questions about anything in these repos, please contact me on the previous page, or <a
        routerLink="/">Click Here</a>!<br/><br/>
        Some of my previous projects for work are protected by an NDA for the code, but I can talk about them and what I
        did to implement them. Others that I have privatized may not be in a state in which I would want them to be
        public. Just ask!
    </mat-card-content>
</mat-card>
<table mat-table
       [dataSource]="projects$ | async" multiTemplateDataRows
       class="mat-elevation-z8 project-table">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let project">
            <ng-container *ngIf="column == 'last_activity_at'">
                Updated {{project[column] | amTimeAgo:true }} ago
            </ng-container>
            <ng-container *ngIf="column !== 'last_activity_at'">
                {{project[column]}}
            </ng-container>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let project" [attr.colspan]="columnsToDisplay.length">
            <div class="project-detail"
                 [@detailExpand]="project == expandedElement ? 'expanded' : 'collapsed'">
                <div class="project-diagram">
                    <img class="project-avatar" [src]="project.avatar_url" [alt]="project.name">
                </div>
                <div class="project-description">
                    {{project.description}}
                    <span class="project-description-attribution"> -- Quin Carter </span>
                </div>
                <div class="open-button">
                    <a [href]="project.web_url"
                       class="margin-right"
                       mat-raised-button color="accent"
                       rel="noopener"
                       target="_blank">Gitlab
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                    <a *ngIf="project.name === 'sentinels-classifications'"
                       class="margin-top"
                       href="https://sentinels-classifications.firebaseapp.com"
                       mat-raised-button
                       color="accent"
                       rel="noopener"
                       target="_blank">Demo
                        <mat-icon>public</mat-icon>
                    </a>
                    <a *ngIf="project.name === 'Coffee Measurement Calculator'"
                       class="margin-top"
                       href="https://coffee-measurement-calculator.firebaseapp.com/"
                       mat-raised-button
                       color="accent"
                       rel="noopener"
                       target="_blank">Demo
                        <mat-icon>public</mat-icon>
                    </a>
                    <a *ngIf="project.name === 'Quin Carter - Portfolio - Angular'"
                       class="margin-top"
                       href="https://quincarter.com"
                       mat-raised-button
                       color="accent"
                       disabled="true"
                       rel="noopener"
                       target="_blank">Here!
                        <mat-icon>public</mat-icon>
                    </a>
                    <a *ngIf="project.name === 'chat-app'"
                    class="margin-top"
                    href="https://dahood-chat.firebaseapp.com"
                    mat-raised-button
                    color="accent"
                    rel="noopener"
                    target="_blank">Demo
                     <mat-icon>public</mat-icon>
                 </a>
                    <a *ngIf="project.name === 'Angular Blog Project'"
                       class="margin-top"
                       href="https://quincarter-blog.firebaseapp.com/"
                       mat-raised-button
                       color="accent"
                       rel="noopener"
                       target="_blank">Demo
                        <mat-icon>public</mat-icon>
                    </a>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let project; columns: columnsToDisplay;"
        class="project-row"
        [class.project-expanded-row]="expandedElement === project"
        (click)="expandedElement = expandedElement === project ? null : project">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
