:host {
    display: grid;
    @media (max-width: 599px) {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-auto-rows: 22rem;
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        grid-auto-rows: 20rem;
    }
    grid-gap: 20px;

    min-height: 100%;
}

.job-logo {
    height: 50px;
    width: 50px;
}
