<ng-container *ngFor="let exp of experience$ | async">
    <ng-container *ngFor="let job of exp.experience">
        <mat-card class="experience-cards">
            <mat-card-header>
                <img mat-card-avatar class="job-logo" [src]="'../../../assets/img/' + job.logo"/>
                {{ job.start_date | date:'MMMM yyyy' }} - {{ !job.end_date ? 'Now' : job.end_date | date: 'MMMM yyyy' }}
                <mat-card-title>
                    {{ job.company_name }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ job.job_title }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <cdk-virtual-scroll-viewport style="height: 11.5rem;" itemSize="job.duties.length">
                    <ul>
                        <ng-container *cdkVirtualFor="let duty of job.duties">
                            <li>
                                {{ duty }}
                            </li>
                        </ng-container>
                    </ul>
                </cdk-virtual-scroll-viewport>
            </mat-card-content>
            <mat-card-actions *ngIf="job.card_actions">
                <ng-container *ngFor="let action of job.card_actions">
                    <a mat-button [href]="action.link"
                       target="_blank"
                       rel="noopener"
                    >
                        {{ action.title }}
                        <mat-icon>public</mat-icon>
                    </a>
                </ng-container>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-container>
