.app-loading {
    .logo {
        width: 100px;
        height: 100px;

        // this way asset gets processed by webpack
        border-radius: 50%;
        background: url(./assets/icons/icon-144x144.png) center center no-repeat;
    }
}
