/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* material overrides */
.mat-card-header.profileHeader {
    position: relative;
    top: -2.5rem;
}

.profileHeader > .mat-card-header-text {
    display: grid;
    align-self: center;
    justify-self: center;
    margin: auto !important;
}
