<button mat-raised-button color="color" [disabled]="disabled" (click)="onClick()" [attr.aria-label]="ariaLabel">
  <mat-icon *ngIf="fontSet && fontIcon && !faIcon" [fontSet]="fontSet" [fontIcon]="fontIcon"></mat-icon>
  <span *ngIf="label">{{label}}</span>
</button>
