<button mat-button routerLink="/"><mat-icon>arrow_back</mat-icon>Back</button>
<mat-card class="about-me-card">
    <mat-card-content *ngFor="let sections of aboutMe$ | async">
        <h1>About Me!</h1>
        <img class="family-photo" src="../../../assets/img/family_photo.jpg" />
        <p *ngFor="let section of sections.intro" [innerHTML]="section">
        </p>
    </mat-card-content>
</mat-card>
